body {
  background-color: black;
  opacity: 0.9;
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  text-align: center;
}

header {
  display: flex;
  position: fixed;
  align-items: center;
  border-bottom: 1px solid seashell
  height: 69px;
  z-index: 1;
  width: 100%;
}

header img {
  height: 50px;
  margin-left: 10px;
  justify-content: flex-start;
}

nav span{
  display: inline-flex;
  padding: 10px 20px
}

header nav{
  text-decoration: underline;
  align-items: center;
}
