.header {
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
}

.main {
  display: flex;
}

.header .navi {
  display: inline-flex;
  justify-content: flex-end;
}

.header p {
  color: MediumAquamarine;
  display: inline-flex;
}

.header img {
  max-width: 70px;
}

.main .large {
  width: 630px;
  display: inline-flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}

.main .medium
{
  width: 300px;
  display: inline-flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}

.main .small
{
  width: 240px;
  display: inline-flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}

.header a {
  color: black;
  display: inline-flex;
  justify-content: flex-end;
}
