.header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  align-items: center;
  display: inline-flex;
  justify-content: space-around;
  width: 500px;
}

.main {
  display: flex;
}

.navi {
  /* font-family: Verdana;
  font-size: 14px;
  font-weight: bold; */
  align-items: center;
  display: inline-flex;
  /* color: black; */
  float: right;
  justify-content: space-around;
  width: 500px;
}

.navi p {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  color: black;
}

.header p {
  color: MediumAquamarine;
  padding: 10px;
  /* display: inline-flex; */
}

.header img {
  max-width: 70px;
}

.large {
  width: 630px;
  display: inline-flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}

.medium
{
  width: 300px;
  display: inline-flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}

.small
{
  width: 240px;
  display: inline-flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}
