.header {
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
}

.main {
  display: flex;
}

.header .navi {
  display: inline-flex;
  justify-content: flex-end;
}

.header p {
  color: MediumAquamarine;
  display: inline-flex;
}

.header img {
  flex-grow: 1;
}

.main .large {
  width: 630px;
  display: inline-flex;
}

.main .medium
{
  width: 300px;
  display: inline-flex;
}

.main .small
{
  width: 240px;
  display: inline-flex;
}
