/* header */

html {
  font-family: Helvetica;
  font-size: 18px;
  background-color: black;
  color: white;
}

.header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 960px;
}

.header img {
  height: 1.5rem;
  margin-left: 0.5rem;
  margin-right: 1rem;
}

.header span {
  align-self: center;
}
