/* header */

html {
  font-family: Helvetica;
  font-size: 18px;
  background-color: black;
  color: white;
}

.header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 960px;
}

.header img {
  height: 1.5rem;
  margin-left: 0.5rem;
  margin-right: 1rem;
}

.header span {
  align-self: center;
}

/* Motorbike Section */

.moto {
  background-image: ./resources/images/moto.jpg;
  height: 25rem;
  display: flex;
}

.motobox {
  width: 20rem;
  margin-top: 9rem;
}

.motobox span {
  margin-top: 2rem;
  margin-bottom: 0.25rem;
}

.motobox h1 {
  margin-left: 3rem;
  font-size: 2rem;
  font-weight: bold;
}

/* Navigation */

.navi {
  background-color: firebrick;
  display: flex;
  justify-content: space-around;
}

.navi nav {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

/* Products */

.products {
  background-color: white;
  display: flex;
}

.pro {
  margin-top: 2rem;
  margin-bottom: 2rem;
  height: 9rem;
}

.box {
  height: 2rem;
  margin-bottom: 3rem;
}
