html {
  font-size: 18px;
  line-height: 1.4;
  font-family: Helvetica;
}

/* Cover */

.cover {
  width: 100%;
  height: 30rem;
  padding-top: 1rem;
  background-image: url(resources/images/glasses-bg.png);
  background-size: cover;
  display: flex;
  justify-content: center;
}

header {
  width: 960px;
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  background-color: cadetblue;
}

header .logo {
  margin-left: 2rem;
  display: flex;
  align-items: center;
}

header .logo img {
  margin-right: 1rem;
  height: 1.5rem;
}

.navi {
  display: inline-flex;
  justify-content: space-between;
  padding: 1rem 2rem;
}

.navi nav span {
  margin: 2rem;
}

.block {
  background-color: white;
  margin-top: 10rem;
}

h1 {
  text-transform: uppercase;
  padding: 1.5rem 5rem;
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.2rem;
}

/* Logo Section */

.pics {
  display: flex;
  flex-direction: row;
  margin: 3rem 0;
}

.pics img {
  width: 3.5rem;
  height: auto;
  margin: 0 6rem;
}

.exams, .fittings, .delivery {
  height: 8rem;
}

/* Text Section */

.subhead h2 {
  text-transform: uppercase;
  margin: 0.5rem 1.25rem;
  font-weight: bold;
  color: white;
}

.subhead {
  background-color: cadetblue;
  width: 10rem;
  height: 2rem;
}

.philo, .app {
  width: 35%;
  height: auto;
}

/* Footer */

.footer {
  background-color: azure;
  width: 960px;
}

.footer img {
  height: 1.5rem;
  margin: 4rem 1rem 4rem 4rem;
}
